.my-resume {
  margin: 10px;
  box-decoration-break: clone;
  .resume-buttons {
    // background-image: linear-gradient(to top, #f0f, #fff);
    background: #f2f3f8;
    border-radius: 2px;
    margin-bottom: 14px;
    & > button {
      margin: 8px 10px;
    }
  }
  .main-resume {
    padding: 5px 12px;
    .resume-item-title {
      color: #38adf3;
      font-size: 18px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #38adf3;
      padding-bottom: 10px;
    }
    .resume-basic-form {
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      .resume-basic-left {
        width: 80%;
        .ant-form-item {
          display: inline-block;
          width: 45%;
          margin:0 10px 0 0;
        }
      }
      .resume-basic-photo {
        width: 20%;
        border: 1px solid #38adf3;
      }
    }
    .resume-project-add {
      width: 100%;
      text-align: center;
      padding: 20px;
    }
  }
}
