#root{
  background: #f2f3f8;
  // padding-top: 80px;
}
.regitser-template {
  width: 1000px;
  padding: 20px;
  margin: 0 auto 10px;
  background: #fff;
  position: relative;
  // margin-top: 80px;
  .regitser-title {
    width: 300px;
    font-size: 24px;
    margin: 0 auto 20px;
    color: #38adff;
    text-align: center;
  }
  .form {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .self-form-item {
      width: 300px;
      display: flex;
      .ant-col {
        width: 100%;
      }
      .ant-form-item-label {
        // width: 120px;
        // margin-right: 8px;
      }
      & > div:nth-child(2) {
        flex: 1;
      }
    }
  }
}